{% extends 'base.html.twig' %} {% block title %}Green Goodies | Mon Panier{%
endblock %} {% block body %}
<div class="cart-container">
  <div class="cart">
    <h1>Mon Panier</h1>
    {% if cart is not empty %}
     <form action="{{ path('clear_cart') }}" method="post" class="clear-cart-form">
        <button type="submit" class="clear-cart-btn">x Vider le panier</button>
    </form>
    {% for item in products %}
    <div class="cart-product">
      <img
        src="{{ asset('images/' ~ item.product.image )}}"
        alt="{{ item.product.name }}"
        class="product-image"
      />
      <div class="product-detail">
        <p class="product-name">{{ item.product.name }}</p>
        <p class="quantity"> Quantité : {{ item.quantity }}</p>
        <p class="price">
          {{ (item.product.price * item.quantity)|number_format(2, ',', ' ') }}€
        </p>
      </div>
    </div>
    {% endfor %}

    <div class="total-price">
      <p class="ttl-price">
        Total panier :
        <span class="euros">{{ total|number_format(2, ',', ' ') }} €</span>
      </p>
      <p class="delivery">Frais de livraison : Offert</p>
    </div>
    <div class="checkout">
      <form action="{{ path('order_create') }}" method="POST">
        <button type="submit" class="checkout-btn">Valider la commande</button>
    </form>
    </div>
    {% else %}
    <p class="empty">Votre panier est vide.</p>
    

    {% endif %}
  </div>
</div>

{% endblock %}
