{% extends 'base.html.twig' %} {% block title %}Green Goodies {% endblock %} {%
block body %}
<div class="homepage-container">
  <div class="welcome-container">
    <div class="welcome-container_text">
      <h1>Bienvenue</h1>
      <p>
        Découvrez notre univers de produits durables et éthiques pour une
        <span class="line-before-br">consommation responsable</span>
        <br />
        <span class="line-after-br"
          >Retrouvez des articles d’hygiène & beauté,</span
        >
        des accessoires & boissons et du prêt à porter
      </p>
    </div>
    <div class="welcome-container_photo">
      <img
        src="{{ asset('images/homepage-photo.svg') }}"
        alt="A photo of a chair with a transparent"
      />
    </div>
  </div>
  <div class="our-products">
    <h2>NOS PRODUITS</h2>
  </div>
  <div class="our-products_cards">
    {% for product in products %}
    <div class="our-products_card">
      <div class="image-frame">
      <img
        src="{{ product.image }}"
        alt="{{ product.name }}"
        class="product-card_photo"
      />
    </div>
      <div class="product-card_details">
        <p class="product-card_name">{{ product.name }}</p>
        <p class="product-card_description">{{ product.shortDescription }}</p>
        <p class="product-card_price">{{ product.price }} €</p>
      </div>
      <a href="{{path('app_product_detail', {id: product.id})}}" class="button">Voir le produit</a>
    </div>
    {% else %}
    <p>Aucun produit disponible.</p>
    {% endfor %}

    <div class="conviction-values-container">
      <div class="conviction-values-container_conviction">
        <div class="conviction-values-container_conviction_text">
          <h3>NOTRE CONVICTION</h3>
          <p>
            Chez GreenGoodies, nous croyons en un monde où le commerce peut être
            synonyme de bien-être pour la planète et ses habitants. Notre
            mission est de vous proposer une sélection rigoureuse de produits
            qui allient qualité, durabilité et éthique
          </p>
        </div>
        <div class="conviction-values-container_conviction_image">
          <img src="{{ asset('images/branch.svg') }}" alt="" />
        </div>
      </div>
      <div class="conviction-values-container_values">
        <div class="conviction-values-container_values_image">
          <img src="{{ asset('images/green-bag.svg') }}" alt="" />
        </div>
        <div class="conviction-values-container_values_text">
          <h3>NOS VALEURS</h3>
          <p>
            Durabilité : Nous sélectionnons soigneusement des produits qui
            respectent l'environnement et favorisent la durabilité. Éthique :
            Nous nous engageons à travailler avec des partenaires et des
            fournisseurs qui partagent nos valeurs éthiques. Écologie : Nous
            encourageons des pratiques respectueuses de l'écosystème et
            privilégions les matériaux écologiques.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

