{% extends 'base.html.twig' %} {% block title %} Produit | {{ product.name }}{%
endblock %} {% block body %}
<div class="product-detail-container">
  <div class="detail-image">
    <div class="image-frame">
      <img src="{{ product.image }}" alt="{{ product.image }}" />
    </div>
  </div>
  <div class="product-details">
    <div class="details">
      <h1>{{ product.name }}</h1>
      <p class="price">{{ product.price }} €</p>
      <h2>Description</h2>
      <p class="description">{{ product.description | nl2br }}</p>
    </div>

    {% for message in app.flashes('success') %}
      <div class="flash-message success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <div class="add-btn">
      <form
        action="{{ path('add_to_cart', { id: product.id }) }}"
        method="POST"
      >
        <button type="submit" class="add-to-cart">Ajouter au panier</button>
      </form>
    </div>
  </div>
  
</div>
{% endblock %}
