<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Eco Garden
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
		{% endblock %}
		{% block head %}
    <link rel="icon" href="{{ asset('images/logo.svg') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ asset('images/logo.svg') }}" type="image/x-icon" />
    {% endblock %}

		{% block javascripts %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
	</head>
	<body>
		<header>
			<div class="logo">
			<a href="{{ path('app_home') }}" class="logo-link">
				<img src="{{ asset('images/logo.svg') }}" class="logo-image" alt="Logo">
				<p class="logo-text">
					Green Goodies
				</p>
				</a>
			</div>
			<nav>
				<ul class="nav-menu">
					<li><a href="#">Nos produits</a></li>
					<li><a href="{{ path('view_cart') }}">Mon panier</a></li>
					<li><a href="#">Mon compte</a></li>
					<li><a href="{{ path('app_login') }}">Connexion</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block body %}<!-- Content from child templates will go here -->{% endblock %}
		</main>

		<footer>
			© GreenGoodies - 2024
		</footer>
	</body>
</html>
